<div class="mb-6">
  <h3 class="text-gray-700 font-bold"><%= t("posts.filters.title") %></h3>
  <%= search_form_for @search, url: dashboard_path, method: :get, class: "mb-6" do |f| %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>
        <%= f.label :region_name_cont, t("posts.filters.status"), class: "text-gray-700 font-light" %>
        <%= f.select :status_eq, options_for_select(Post::STATUSES.map { [_1.humanize, _1] }, params[:status]), { include_blank: t("posts.filters.any") }, class: "bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded" %>
      </div>
    </div>
    <%= f.submit t("posts.filters.search"), name: nil %>
  <% end %>
</div>
